<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{$head_title}-{$Think.config.love.site_name}</title>
    <link href="__LOVE-ADMIN__/css/materialicons.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__LOVE-ADMIN__/materialize/css/materialize.min.css" media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="__LOVE-ADMIN__/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="__LOVE-ADMIN__/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="__LOVE-ADMIN__/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="__LOVE-ADMIN__/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='__LOVE-ADMIN__/css/familyopensans.css' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="__LOVE-ADMIN__/js/Lightweight-Chart/cssCharts.css">
</head>