<!-- JS Scripts-->

<!-- layer相关JS -->
<script src="__JS__/jquery-3.3.1.min.js"></script>
<script src="__JS__/layer/layer.js"></script>
<script src="__JS__/dialog.js"></script>
<script src="__JS__/login.js"></script>

<!-- jQuery Js -->
<!-- 上边已经引入过，不再重复引入低版本JQ -->
<!-- <script src="__LOVE-ADMIN__/js/jquery-1.10.2.js"></script> -->

<!-- Bootstrap Js -->
<script src="__LOVE-ADMIN__/js/bootstrap.min.js"></script>

<script src="__LOVE-ADMIN__/materialize/js/materialize.min.js"></script>

<!-- Metis Menu Js -->
<script src="__LOVE-ADMIN__/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="__LOVE-ADMIN__/js/morris/raphael-2.1.0.min.js"></script>
<script src="__LOVE-ADMIN__/js/morris/morris.js"></script>


<script src="__LOVE-ADMIN__/js/easypiechart.js"></script>
<script src="__LOVE-ADMIN__/js/easypiechart-data.js"></script>

<script src="__LOVE-ADMIN__/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="__LOVE-ADMIN__/js/custom-scripts.js"></script>


<script>
    /**
     * 退出按钮
     */
    $(function () {
        $("#logout").on('click', function () {
            $.ajax({
                type: 'post',
                url: "{:url('love/user/logout')}",
                data: '',
                dataType: 'Json',
                success: function (data) {
                    if (data.status == 1) {
                        dialog.msg_url(data.message, "{:url('love/user/login')}");
                    } else {
                        dialog.error(data.message);
                    }
                }
            })
        })
    })
</script>