{extend name="layout/base" /}

{block name="title"}主页{/block}

{block name="content"}
<!-- 开始 内容 -->
<div class="content">

    <!-- 开始 页面头部 -->
    <div class="page-header">
        <h1 class="title">总览</h1>
        <ol class="breadcrumb">
            <li class="active">全系统总览面板</li>
        </ol>

        <!-- 开始 页面头部右侧功能盒子 -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a href="index.html" class="btn btn-light">Dashboard</a>
                <a href="#" class="btn btn-light"><i class="fa fa-refresh"></i></a>
                <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
                <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
            </div>
        </div>
        <!-- 结束 页面头部右侧功能盒子 -->

    </div>
    <!-- 结束 页面头部 -->


    <!-- 开始 介绍 -->

    <!-- 结束 介绍 -->


    <!-- 开始 主要内容 -->

    <!-- 结束 主要内容 -->


    <!-- 开始 页脚 -->
    {include file="layout/footer" /}
    <!-- 结束 页脚 -->


</div>
<!-- 结束 内容 -->
{/block}

{block name="bottom-js"}


{/block}