{include file="public/header"}
{include file="public/public-body"}

 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTENT -->
<div class="content">

  <!-- Start Page Header -->
  <div class="page-header">
    <h1 class="title">基金网格交易系统</h1>
      <ol class="breadcrumb">
        <li><a href="index.html">仪表盘</a></li>
        <li><a href="#">基金</a></li>
        <li class="active">基金网格交易系统</li>
      </ol>

    <!-- Start Page Header Right Div -->
    <div class="right">
      <div class="btn-group" role="group" aria-label="...">
        <a href="index.html" class="btn btn-light">Dashboard</a>
        <a href="#" class="btn btn-light" onclick="location.reload();"><i class="fa fa-refresh"></i></a>
        <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
        <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
      </div>
    </div>
    <!-- End Page Header Right Div -->

  </div>
  <!-- End Page Header -->

  <!-- Start Presentation -->
  <div class="row presentation">

    <div class="col-lg-8 col-md-6 titles">
      <span class="icon color10-bg"><i class="fa fa-line-chart"></i></span>
      <h1>基金网格交易系统</h1>
      <h4>记录每一笔基金网格交易记录，自动计算并提醒买入卖出<br>有效的解决基金网格计划中容易混乱和没有及时买入卖出</h4>
    </div>

    <div class="col-lg-4 col-md-6">
      <ul class="list-unstyled list">
        <li><i class="fa fa-check"></i>自动计算<li>
        <li><i class="fa fa-check"></i>及时提醒<li>
        <!-- <li><i class="fa fa-check"></i><a href="{:url('/index/index/fundgrid')}" target="_blank">基金网格交易系统</a><li> -->
        <br>
        <br>
        <li><i class="fa fa-rmb"></i><a href="#" data-toggle="modal" data-target="#fund_grid_buy"">网格买入</a><li>
        <li><i class="fa fa-rmb"></i><a href="#" data-toggle="modal" data-target="#fund_grid_sell">网格卖出</a><li>
        <li><i class="fa fa-rmb"></i><a href="#" data-toggle="modal" data-target="#fund_add">添加自选</a><li>
      </ul>
    </div>

  </div>
  <!-- End Presentation -->


 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTAINER -->
<div class="container-padding">


  <!-- Start Row -->
  <div class="row">

    <!-- Start Panel -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-title">
          持仓交易中
        </div>
        <div class="panel-body table-responsive">

            <table id="example0" class="table display">
                <thead>
                    <tr>
                        <th>买入ID</th>
                        <th>基金名称</th>
                        <th>成交金额</th>
                        <th>交易数量</th>
                        <th>交易时间</th>
                        <th>成本单价</th>
                        <th>实时现价</th>
                        <th>补仓价格</th>
                        <th>卖出价格</th>
                        <th>网格幅度</th>
                        <th>涨跌幅度</th>
                        <th>盈亏金额(元)</th>
                    </tr>
                </thead>
             
                <tfoot>
                    <tr>
                        <th>买入ID</th>
                        <th>基金名称</th>
                        <th>成交金额</th>
                        <th>交易数量</th>
                        <th>交易时间</th>
                        <th>成本单价</th>
                        <th>实时现价</th>
                        <th>补仓价格</th>
                        <th>卖出价格</th>
                        <th>网格幅度</th>
                        <th>涨跌幅度</th>
                        <th>盈亏金额(元)</th>
                    </tr>
                </tfoot>
             
                <tbody>
                {volist name="position" id="vo" key="k" }
                    <tr>
                        <td>{$vo.mrid}</td>
                        <td>{$vo.jjmc}</td>
                        <td>{$vo.cjje}元</td>
                        <td>{$vo.jysl}</td>
                        <td>{$vo.jysj}</td>
                        <td>{$vo.cbdj}元</td>
                        <td>{$vo.jjxj}元</td>
                        <td>{$vo.bcdj}元</td>
                        <td>{$vo.mcdj}元</td>
                        <td>{$vo.wgfd}%</td>
                        <td>{$vo.zdfd}%</td>
                        <td>{$vo.ykje}</td>
                    </tr>
                {/volist}
                </tbody>
            </table>


        </div>

      </div>
    </div>
    <!-- End Panel -->
    <!-- Start Panel -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-title">
          网格已完成 ---【当前已完成网格盈亏：
          {php}
            $sum=0;
            foreach($completed as $value){
              $sum+=$value['ykje'];
            }
            echo $sum;{/php}
          元；全部网格盈亏：
          {php}
            $sum=0;
            //未完成网格合计盈亏金额
            foreach($position as $value){
              $sum+=$value['ykje'];
            }
            //已完成网格合计盈亏金额
            foreach($completed as $value){
              $sum+=$value['ykje'];
            }
            echo round($sum,3);{/php}
          元】
        </div>
        <div class="panel-body table-responsive">
            <table id="example1" class="table display">
                <thead>
                    <tr>
                        <th>卖出ID</th>
                        <th>基金名称</th>
                        <th>成本单价</th>
                        <th>卖出单价</th>
                        <th>成本金额</th>
                        <th>卖出金额</th>
                        <th>完成时间</th>
                        <th>网格幅度</th>
                        <th>盈亏幅度</th>
                        <th>盈亏金额(元)</th>
                    </tr>
                </thead>
             
                <tfoot>
                    <tr>
                        <th>卖出ID</th>
                        <th>基金名称</th>
                        <th>成本单价</th>
                        <th>卖出单价</th>
                        <th>成本金额</th>
                        <th>卖出金额</th>
                        <th>完成时间</th>
                        <th>网格幅度</th>
                        <th>盈亏幅度</th>
                        <th>盈亏金额(元)</th>
                    </tr>
                </tfoot>
             
                <tbody>
                {volist name="completed" id="vo" key="k" }
                    <tr>
                        <td>{$vo.mcid}</td>
                        <td>{$vo.jjmc}</td>
                        <td>{$vo.cbdj}元</td>
                        <td>{$vo.mcdj}元</td>
                        <td>{$vo.cbje}元</td>
                        <td>{$vo.mcje}元</td>
                        <td>{$vo.wcsh}</td>
                        <td>{$vo.wgfd}%</td>
                        <td>{$vo.ykfd}%</td>
                        <td>{$vo.ykje}</td>
                    </tr>
                {/volist}
                </tbody>
            </table>
        </div>

      </div>
    </div>
    <!-- End Panel -->


<!-- 买入卖出弹窗 -->
    <!-- 网格买入 -->
    <!-- Modal -->
    <div class="modal fade" id="fund_grid_buy" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">网格计划-买入</h4>
          </div>
          <div class="modal-body">
                <div class="panel-body">
                  <form class="fieldset-form">
                    <fieldset>
                    <div class="form-group">
                      <label class="col-sm-4 control-label form-label">选择基金</label>
                      <div class="col-sm-8">
                        <select class="selectpicker" name="fund_id">
                        {volist name="fund_info" id="vo"}
                            <option value = "{$key}">{$vo}</option>
                        {/volist}
                        </select>                  
                      </div>
                    </div>
                      <div class="form-group">
                        <label for="example10" class="form-label">成本单价</label>
                        <input type="text" class="form-control" name="fund_buy_dj">
                      </div>
                      <div class="form-group">
                        <label for="example11" class="form-label">交易数量</label>
                        <input type="text" class="form-control" name="fund_buy_sl">
                      </div><!-- 
                      <div class="form-group">
                        <label for="example12" class="form-label">成本金额</label>
                        <input type="text" class="form-control" name="fund_buy_je">
                      </div> -->
                      <div class="form-group">
                        <label for="example13" class="form-label">交易时间</label>
                       <div class="input-prepend input-group">
                         <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                         <input type="text" id="date-picker" name="fund_buy_time" class="form-control" value="{php}echo date("m/d/Y");{/php}"/> 
                       </div>
                      </div>
                      <div class="form-group">
                        <label for="example14" class="form-label">网格幅度</label>
                        <input type="text" class="form-control" name="fund_buy_fd" value="3">
                      </div>
                      <!-- 手续费由Fund.js自动计算 交易额*万2.5  两位小数 四舍五入-->
                      <!-- <div class="form-group">
                        <label for="example15" class="form-label">手续费</label>
                        <input type="text" class="form-control" name="fund_buy_sxf">
                      </div> -->
                        <button type="submit" class="btn btn-default" data-dismiss="modal" onclick="fund.buy();">提交</button>
                    </fieldset>
                  </form>
                </div>
          </div>
        </div>
      </div>
    </div>
  <!-- End Moda Code -->

    <!-- 网格卖出 -->
    <!-- Modal -->
    <div class="modal fade" id="fund_grid_sell" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">网格计划-卖出</h4>
          </div>
          <div class="modal-body">
                <div class="panel-body">
                  <form class="fieldset-form">
                    <fieldset>
                    <div class="form-group">
                      <label class="col-sm-4 control-label form-label">选择买入时交易</label>
                      <div class="col-sm-8">
                        <select class="selectpicker" name="buy_id">
                        {volist name="fund_info_sell" id="vo"}
                            <option value="{$key}">{$key}：{$vo}</option>
                        {/volist}
                        </select>                  
                      </div>
                    </div>
                      <div class="form-group">
                        <label for="example10" class="form-label">卖出单价</label>
                        <input type="text" class="form-control" name="fund_sell_dj">
                      </div>
                      <div class="form-group">
                        <label for="example11" class="form-label">卖出数量</label>
                        <input type="text" class="form-control" name="fund_sell_sl">
                      </div><!-- 
                      <div class="form-group">
                        <label for="example12" class="form-label">卖出金额</label>
                        <input type="text" class="form-control" name="fund_sell_je">
                      </div> -->
                      <div class="form-group">
                        <label for="example13" class="form-label">卖出时间</label>
                       <div class="input-prepend input-group">
                         <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                         <input type="text" id="date-picker2" name="fund_sell_time" class="form-control" value="{php}echo date("m/d/Y");{/php}"/> 
                       </div>
                      </div><!-- 
                      <div class="form-group">
                        <label for="example14" class="form-label">盈亏幅度</label>
                        <input type="text" class="form-control" name="fund_sell_fd">
                      </div> -->
                      
                      <!-- 手续费由Fund.js自动计算 交易额*万2.5  两位小数 四舍五入-->
                      <!-- <div class="form-group">
                        <label for="example15" class="form-label">手续费</label>
                        <input type="text" class="form-control" name="fund_sell_sxf">
                      </div> -->
                        <button type="submit" class="btn btn-default" data-dismiss="modal" onclick="fund.sell();">提交</button>
                    </fieldset>
                  </form>
                </div>
          </div>
        </div>
      </div>
    </div>
  <!-- End Moda Code -->

    <!-- 添加自选基金 -->
    <!-- Modal -->
    <div class="modal fade" id="fund_add" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">添加自选基金</h4>
          </div>
          <div class="modal-body">
                <div class="panel-body">
                  <form class="fieldset-form">
                    <fieldset>
                      <div class="form-group">
                        <label for="example10" class="form-label">基金代码</label>
                        <input type="text" class="form-control" name="fund_add_code">
                      </div>
                      <div class="form-group">
                        <label for="example11" class="form-label">基金名称</label>
                        <input type="text" class="form-control" name="fund_add_name">
                      </div>
                      <div class="form-group">
                        <label for="example12" class="form-label">股市地区</label>
                        <input type="text" class="form-control" name="fund_add_gsdq"  placeholder="上海sh/深圳sz，留空默认sh">
                      </div>
                      <div class="form-group">
                        <label for="example13" class="form-label">查询API</label>
                        <input type="text" class="form-control" name="fund_add_api" value="xlcj">
                      </div>
                      <button type="button" class="btn btn-default" onclick="fund.add();" data-dismiss="modal">提交</button>
                    </fieldset>
                  </form>
                </div>
          </div>
        </div>
      </div>
    </div>
  <!-- End Moda Code -->

  </div>
  <!-- End Row -->






</div>
<!-- END CONTAINER -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 

{include file="public/footer"}

</div>
<!-- End Content -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 

{include file="public/sidepanel"}

{include file="public/public-js"}
{include file="public/public-js-add"}

<!-- datatables.min.js 设置 -->
<script type="text/javascript">

  //排序设置
  var aasort = [
          [0, "desc"]
        ];

  //默认显示长度
  var aadisplaylength = 20;
</script>

<!-- 基金页面所需JS -->
<script src="__STATIC__/js/fund.js"></script>


<!-- bootstrap select 选择框 -->
<script type="text/javascript" src="__STATIC__/index/js/bootstrap-select/bootstrap-select.js"></script>


<!-- ================================================
Data Tables 页面主JS
================================================ -->
<script src="__STATIC__/index/js/datatables/datatables.min.js"></script>


<!-- 时间选择框所需 -->
<!-- ================================================
Moment.js
================================================ -->
<script type="text/javascript" src="__STATIC__/index/js/moment/moment.min.js"></script>
<!-- 时间选择框所需 -->
<!-- ================================================
Bootstrap Date Range Picker
================================================ -->
<script type="text/javascript" src="__STATIC__/index/js/date-range-picker/daterangepicker.js"></script>


<!-- 表格搜索以及其他功能 -->
<script>
$(document).ready(function() {
    $('#example0').DataTable();
} );
$(document).ready(function() {
    $('#example1').DataTable();
} );
</script>

<!-- Basic Date Range Picker -->
<script type="text/javascript">
$(document).ready(function() {
  $('#date-range-picker').daterangepicker(null, function(start, end, label) {
    console.log(start.toISOString(), end.toISOString(), label);
  });
});
</script>

<!-- 网格买入填写信息时的时间框 -->
<script type="text/javascript">
$(document).ready(function() {
  $('#date-picker').daterangepicker({ singleDatePicker: true }, function(start, end, label) {
    console.log(start.toISOString(), end.toISOString(), label);
  });
});
</script>

<!-- 新建一个JS 网格卖出填写信息时的时间框JS -->
<script type="text/javascript">
$(document).ready(function() {
  $('#date-picker2').daterangepicker({ singleDatePicker: true }, function(start, end, label) {
    console.log(start.toISOString(), end.toISOString(), label);
  });
});
</script>

<!-- Date Range and Time Picker -->
<script type="text/javascript">
$(document).ready(function() {
  $('#date-range-and-time-picker').daterangepicker({
    timePicker: true,
    timePickerIncrement: 30,
    format: 'MM/DD/YYYY h:mm A'
  }, function(start, end, label) {
    console.log(start.toISOString(), end.toISOString(), label);
  });
});
</script>
<!-- 买入卖出表格排序JS -->
<script>
$(document).ready(function() {
    var table = $('#example').DataTable({
        "columnDefs": [
            { "visible": false, "targets": 2 }
        ],
        "order": [[ 2, 'asc' ]],
        "displayLength": 25,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(2, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        }
    } );
 
    // Order by the grouping
    $('#example tbody').on( 'click', 'tr.group', function () {
        var currentOrder = table.order()[0];
        if ( currentOrder[0] === 2 && currentOrder[1] === 'asc' ) {
            table.order( [ 2, 'desc' ] ).draw();
        }
        else {
            table.order( [ 2, 'asc' ] ).draw();
        }
    } );
} );
</script>


</body>
</html>
