{include file="public/header"}
{include file="public/public-body"}
 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTENT -->
<div class="content">

  <!-- Start Page Header -->
  <div class="page-header">
    <h1 class="title">Modal Boxes</h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Dashboard</a></li>
        <li><a href="#">UI Elements</a></li>
        <li class="active">Modal Boxes</li>
      </ol>

    <!-- Start Page Header Right Div -->
    <div class="right">
      <div class="btn-group" role="group" aria-label="...">
        <a href="index.html" class="btn btn-light">Dashboard</a>
        <a href="#" class="btn btn-light"><i class="fa fa-refresh"></i></a>
        <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
        <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
      </div>
    </div>
    <!-- End Page Header Right Div -->

  </div>
  <!-- End Page Header -->

  <!-- Start Presentation -->
  <div class="row presentation">

    <div class="col-lg-8 col-md-6 titles">
      <span class="icon color7-bg"><i class="fa fa-list-alt"></i></span>
      <h1>Modal Boxes</h1>
      <h4>Like other components, easily make a panel more meaningful to a particular context by adding any of the contextual state classes.</h4>
    </div>

    <div class="col-lg-4 col-md-6">
      <ul class="list-unstyled list">
        <li><i class="fa fa-check"></i>Sizeable<li>
        <li><i class="fa fa-check"></i>Easy to Use<li>
        <li><i class="fa fa-check"></i>Based on <a href="http://getbootstrap.com/javascript/#modals" target="_blank">Bootstrap Modals</a><li>
      </ul>
    </div>

  </div>
  <!-- End Presentation -->


 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTAINER -->
<div class="container-padding">



  <!-- Start Row -->
  <div class="row">

   <div class="col-md-12 padding-b-20">
    <h4 class="font-title">Examples</h4>
    <p>Here is some example for modal boxes.</p>
  </div>

    <!-- Start Panel -->
    <div class="col-md-12 col-lg-4">
      <div class="panel panel-transparent">

        <div class="panel-title">
          BASIC
        </div>

        <div class="panel-body">
          <!-- Start Modal Code -->

            <!-- Link -->
            <a href="#" class="modalicon" data-toggle="modal" data-target="#myModal">
              <img src="__STATIC__/index/img/modalicons/normal.png" alt="img" style="width:50%;">
            </a>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Basic Modal</h4>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

          <!-- End Moda Code -->
        </div>

      </div>
    </div>
    <!-- End Panel -->

    <!-- Start Panel -->
    <div class="col-md-12 col-lg-4">
      <div class="panel panel-transparent">

        <div class="panel-title">
          Large
        </div>

        <div class="panel-body">
          <!-- Start Modal Code -->

            <!-- Link -->
            <a href="#" class="modalicon" data-toggle="modal" data-target="#myModal2">
              <img src="__STATIC__/index/img/modalicons/large.png" alt="img" style="width:80%;">
            </a>

            <!-- Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Large Modal</h4>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

          <!-- End Moda Code -->
        </div>

      </div>
    </div>
    <!-- End Panel -->

    <!-- Start Panel -->
    <div class="col-md-12 col-lg-4">
      <div class="panel panel-transparent">

        <div class="panel-title">
          Small
        </div>

        <div class="panel-body">
          <!-- Start Modal Code -->

            <!-- Link -->
            <a href="#" class="modalicon" data-toggle="modal" data-target="#myModal3">
              <img src="__STATIC__/index/img/modalicons/small.png" alt="img" style="width:35%;">
            </a>

            <!-- Modal -->
            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Small Modal</h4>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

          <!-- End Moda Code -->
        </div>

      </div>
    </div>
    <!-- End Panel -->

  </div>
  <!-- End Row -->






</div>
<!-- END CONTAINER -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 


{include file="public/footer"}


</div>
<!-- End Content -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 
{include file="public/sidepanel"}

{include file="public/public-js"}


</body>
</html>