{extend name="index/layout" /}
{block name="diy_style"}
<style>
    .i-father-div{
        height: 80px;
        text-align: center;
    }

    .i-father-div i{
        color: #fff;
        line-height: 80px;
        text-align: center;
        width: 80px;
        font-size: 3em;
    }
</style>
{/block}

{block name="main"}
<!--内容-->
<section id="cd-timeline" class="cd-container">
    {volist name="love_list" id="vo"}
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-text" style="background: {$love_type[($vo.type_id-1)]['div_background']}">
            <div class="i-father-div">
                {$love_type[($vo.type_id-1)]['type']|raw}
            </div>
            <!-- <img src="__LOVE-INDEX__/img/cd-icon-text.svg" alt="text"> -->
        </div>
        <div class="cd-timeline-content-{$vo.user_id}">
            <h2>{$vo.title}</h2>
            <p>{$vo.content|raw}</p>
            <span style="top:30px;font-size: 1.2em;" class="cd-date"><i class="fa fa-clock-o" aria-hidden="true"></i>{$vo.time}</span>
        </div>
    </div>
    {/volist}
</section>

<div id="render">
    {$love_list->render()|raw}
</div>


{/block}
{block name="js"}

{/block}