<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{$title|default="__LOVE-TITLE__"}</title>
{load href="__CSS__/bootstrap.min.css" /}
{load href="__LOVE-INDEX__/css/main.css" /}
{load href="__LOVE-INDEX__/css/style.css" /}
    {load href="__LOVE-INDEX__/css/font-awesome.min.css" /}

    <link rel="shortcut icon" type="image/x-icon" href="__LOVE__/favicon.ico">

</head>
<body>
{include file="index/nav" /}
{include file="index/main" /}


</body>
</html>