<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
    <title>{$title}-__LOVE-TITLE__</title>

    <!-- ========== Css Files ========== -->
    {load href="__LOVE-ADMIN__/login/css/root.css" /}
    <style type="text/css">
        body{background: #F5F5F5;}
    </style>
</head>
<body>

<div class="login-form">
    <form id="login">
        <div class="top">
            <a href="{:url('love/index/index')}">
                <img src="__LOVE-ADMIN__/login/img/logo.png" alt="icon" class="icon">
            </a>
            <h1>{$title}</h1>
            <!--<h4>__LOVE-TITLE__</h4>-->
        </div>