{include file="user/header" /}

<div class="form-area">
    <div class="group">
        <input type="text" class="form-control" name="name" placeholder="用户名">
        <i class="fa fa-user"></i>
    </div>
    <div class="group">
        <input type="text" class="form-control" name="email" placeholder="邮箱">
        <i class="fa fa-envelope-o"></i>
    </div>
    <div class="group">
        <input type="password" class="form-control" name="password" placeholder="输入新密码">
        <i class="fa fa-envelope-o"></i>
    </div>
    <div class="group">
        <input type="password" class="form-control" name="password_confirm" placeholder="重复新密码">
        <i class="fa fa-envelope-o"></i>
    </div>
    <button type="button" class="btn btn-default btn-block" id="submit">重置密码</button>
</div>
      </form>
      <div class="footer-links row">
        <div class="col-xs-6"><a href="{:url('love/user/login')}"><i class="fa fa-sign-in"></i>登录</a></div>
        <div class="col-xs-6 text-right"><a href="{:url('love/user/register')}"><i class="fa fa-external-link"></i>注册</a></div>
      </div>
    </div>

{include file="user/public-js" /}

<script>
    $(function(){
        $("#submit").on('click',function () {
            // alert($('#login').serialize());
            $.ajax({
                type: 'post',
                url: "{:url('user/api/password')}",
                data: $('#login').serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1){
                        dialog.success(data.message,"{:url('love/admin/index')}");
                    }else {
                        dialog.error(data.message);
                    }
                }

            })
        })
    })
</script>

{include file="user/footer" /}